<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer>
        <p>&copy; Modulo 4 - EJS Layout P1 - by Nodo Tecnológico - 2024</p>
    </footer>
</body>
</html>