<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbarLinks</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/">
                <img src="/public/images/logo.png" alt="Logo" class="logo">
            </a>
            <ul>
                <li>
                    <a href="/">
                       <img src="/public/icons/home.svg" alt="Inicio">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="/public/icons/info.svg" alt="Nosotros">
                        Acerca de
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="/public/icons/contact.svg" alt="Contacto">
                        Contacto
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>