<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <section>
        <h1>Bienvenido a mi sitio Web</h1>
        <p>Este es un ejemplo de como usar layout en EJS con `express-ejs-layout`.</p>
    </section>
</body>
</html>